amqp
argon2-cffi
argon2-cffi-bindings
asgiref
attrs
Babel
backcall
#backports.zoneinfo
billiard
bleach
Brotli
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
cryptography
cssselect2
cycler
debugpy
decorator
defusedxml
Deprecated
Django==4.2.7
django-allauth==0.62.0
django-appconf==1.0.5
django-bootstrap-modal-forms==2.2.0
django-bootstrap3==21.1
django-bootstrap3-multidatepicker==0.1.5
django-crispy-forms==1.13.0
django-extensions==3.1.5
django-filter==21.1
django-js-asset==1.2.2
django-mathfilters==1.0.0
django-model-utils==4.2.0
django-money==2.1
django-mptt==0.13.4
django-phonenumber-field==6.0.0
django-select2==7.9.0
django-widget-tweaks==1.4.9
djangorestframework==3.15.0
entrypoints
fonttools
greenlet
gunicorn
html5lib
http-ece
idna
importlib-resources
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jsonfield
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
kiwisolver
kombu
MarkupSafe
matplotlib
matplotlib-inline
mistune
mplcursors
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pexpect
phonenumbers
pickleshare
Pillow
#playsound
prometheus-client
prompt-toolkit
psycopg2-binary
ptyprocess
py-moneyed
py-vapid
pycparser
pydyf
Pygments
PyJWT
pyparsing
pyphen
pyrsistent
python-dateutil
python3-openid
pytz
pywebpush
pyzmq
redis
reportlab
requests
requests-oauthlib
Send2Trash
six
SQLAlchemy
sqlparse
swapper
terminado
testpath
tinycss2
tornado
traitlets
twilio
urllib3
vine
wcwidth
weasyprint
webencodings
wrapt
zipp
zopfli

